DJANGO_SECRET_KEY=COLOQUE_UMA_CHAVE_SECRETA_REAL_AQUI

DJANGO_DEBUG=False

DJANGO_ALLOWED_HOSTS=nexus-y1ld.onrender.com,127.0.0.1,localhost

DB_NAME=nexus_calculadora
DB_USER=SEU_USUARIO_REAL_DO_RAILWAY
DB_PASSWORD=SUA_SENHA_REAL_DO_RAILWAY
DB_HOST=altaria.proxy.rlwy.net
DB_PORT=17153