DJANGO_SECRET_KEY=local-econexus-change-this-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=nexus-ykvd.onrender.com,127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=https://nexus-frontend-murex-two.vercel.app
CSRF_TRUSTED_ORIGINS=https://nexus-frontend-murex-two.vercel.app
DB_NAME=nexus_calculadora
DB_USER=root
DB_PASSWORD=DFkbVPIECAOWLukfPCeVLgqMfBoMGagP
DB_HOST=altaria.proxy.rlwy.net
DB_PORT=17153