DJANGO_SECRET_KEY=replace-with-a-long-random-value
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=nexus_calculadora
DB_USER=replace-with-railway-user
DB_PASSWORD=replace-with-rotated-password
DB_HOST=altaria.proxy.rlwy.net
DB_PORT=17153
